<template>
  <card type="default" header-classes="bg-transparent">
    <!-- <template v-slot:header> -->
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-light text-uppercase ls-1 mb-1">Energy Market</h6>
        <h5 class="h3 text-white mb-0">Buy energy</h5>
      </div>

      <el-table
        class="table-responsive mt-1 rounded-sm"
        :data="offers"
        row-class-name="el-table-row"
      >
        <el-table-column
          label="Seller"
          prop="seller"
          min-width="110px"
          column
          sortable
        >
          <template v-slot="{ row }">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="font-weight-600 name mb-0 text-sm">
                  {{ row.seller }}
                </span>
              </div>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Amount" prop="amount" min-width="90px" sortable>
          <template v-slot="{ row }">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="name mb-0 text-sm">
                  {{ row.amount.toFixed(1) }} kW
                </span>
              </div>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Total" min-width="90px" sortable>
          <template v-slot="{ row }">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="name mb-0 text-sm">
                  {{ row.amountTotal.toFixed(2) }} kW
                </span>
              </div>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Price" prop="price" min-width="60px" sortable>
          <template v-slot="{ row }">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="name mb-0 text-sm">
                  ${{ row.price.toFixed(2) }}
                </span>
              </div>
            </div>
          </template>
        </el-table-column>

        <el-table-column min-width="40px">
          <template v-slot="{ row }">
            <el-dropdown trigger="click" class="dropdown">
              <span class="btn btn-sm btn-icon-only text-light">
                <i class="fas fa-ellipsis-v mt-2"></i>
              </span>
              <template #dropdown>
                <el-dropdown-menu
                  class="dropdown-menu dropdown-menu-arrow show"
                >
                  <a class="dropdown-item" v-on:click="buyOffer(row)">Buy</a>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>

      <modal
        :show="dialog.show"
        gradient="primary"
        v-on:close="dialog.show = false"
        :header="dialog.header"
        :body="dialog.body"
        :footer="dialog.footer"
        :inputs="dialog.inputs"
        :buttons="dialog.buttons"
      />
    </div>
    <!-- </template> -->
  </card>
</template>

<script>
import tableComponents from "../tableComponents";
import * as Dialogs from "../dialogs/dialogs";
import axios from "axios";

export default {
  components: {
    ...tableComponents,
  },
  data() {
    return {
      offers: undefined,
      dialog: {
        show: false,
      },
    };
  },
  mounted() {
    this.getBuyOffers();
  },
  methods: {
    getBuyOffers() {
      const baseURL = process.env.VUE_APP_BASE_URL;
      axios
        .get(baseURL + "/api/sell/offer/all")
        .then((response) => {
          this.offers = response.data;
          this.$emit("setSubtitle", {
            id: 0,
            title: `${response.data.length} Offers`,
          });
        })
        .catch((error) => {
          this.dialog = Dialogs.offerResponseDialog(
            "An error occured, retrying in 5 seconds",
            error.message
          );
          setTimeout(() => {
            this.dialog = {
              show: false,
            };
            this.getBuyOffers();
          }, 5000);
        });
    },
    buyOffer(offer) {
      //callback for when the user bought the offer
      let onBought = (response) => {
        if (response.status === 200) {
          this.dialog = Dialogs.offerResponseDialog(
            "Successfully bought energy!"
          );
        } else {
          //show error to user
          this.dialog = Dialogs.offerResponseDialog(
            `An error occured (${response.status})`,
            "Please make sure you inserted an available amount"
          );
        }
      };
      this.dialog = Dialogs.buyOfferDialog(offer, onBought);
    },
  },
};
</script>

<style scoped>
.el-table-row {
  color: white;
  background: rgb(23, 43, 77);
}

.el-table-row:hover {
  color: black;
}
</style>