<template>
  <card type="default" header-classes="bg-transparent">
    <template v-slot:header>
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-light text-uppercase ls-1 mb-1">Energy Market</h6>
          <h5 class="h3 text-white mb-0">Sales</h5>
        </div>

        <el-table
          class="table-responsive mt-2 mb-3 rounded-sm"
          row-class-name="el-table-row"
          :data="soldOffers"
        >
          <el-table-column
            label="Buyer"
            prop="buyerName"
            min-width="110px"
            sortable
          >
          </el-table-column>

          <el-table-column label="Amount" min-width="130px" sortable>
            <template v-slot="{ row }">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="font-weight-600 name mb-0 text-sm"
                    >{{ row.amount }} kW</span
                  >
                </div>
              </div>
            </template>
          </el-table-column>

          <el-table-column label="Total price" min-width="130px" sortable>
            <template v-slot="{ row }">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="font-weight-600 name mb-0 text-sm"
                    >${{ row.priceTotal.toFixed(2) }}
                  </span>
                </div>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <modal
          :show="dialog.show"
          gradient="primary"
          v-on:close="dialog.show = false"
          :header="dialog.header"
          :body="dialog.body"
          :footer="dialog.footer"
          :inputs="dialog.inputs"
          :buttons="dialog.buttons"
        />
      </div>
    </template>
  </card>
</template>

<script>
import tableComponents from "../tableComponents";
import * as Dialogs from "../dialogs/dialogs";
import axios from "axios";

export default {
  components: {
    ...tableComponents,
  },
  data() {
    return {
      soldOffers: undefined,
      dialog: {
        show: false,
      },
    };
  },
  mounted() {
    this.getSales();
  },
  methods: {
    getSales() {
      const baseURL = process.env.VUE_APP_BASE_URL;
      axios
        .get(baseURL + "/api/buy/sales")
        .then((response) => {
          this.soldOffers = response.data;

          let total = this.soldOffers.reduce((a, b) => a + (b.priceTotal || 0), 0);
          this.$emit("setSubtitle", { id: 2, title: `$${total}` });
        })
        .catch((error) => {
          this.dialog = Dialogs.offerResponseDialog(
            `An error occured, retrying in 5 seconds...`,
            error.message
          );

          setTimeout(() => {
            this.dialog = {
              show: false,
            };
            this.getSales();
          }, 5000);
        });
    },
  },
};
</script>

<style scoped>
.el-table-row {
  color: white;
  background: rgb(23, 43, 77);
}

.el-table-row:hover {
  color: black;
}
</style>