<template>
  <card type="default" header-classes="bg-transparent">
    <template v-slot:header>
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-light text-uppercase ls-1 mb-1">Energy Market</h6>
          <h5 class="h3 text-white mb-0">Sell energy</h5>
        </div>
        <el-table
          class="table-responsive mt-1 rounded-sm"
          row-class-name="el-table-row"
          :data="offers"
        >

          <el-table-column
            label="Buyer"
            prop="offer.seller"
            min-width="90px"
            sortable
          >
          </el-table-column>

          <el-table-column label="Amount" min-width="120px" sortable>
            <template v-slot="{ row }">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="name mb-0 text-sm">
                    {{ row.offer.amount.toFixed(1) }} kW
                  </span>
                </div>
              </div>
            </template>
          </el-table-column>

          <el-table-column label="Offer price" min-width="90px" sortable>
            <template v-slot="{ row }">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="name mb-0 text-sm"
                    >${{ row.offer.price.toFixed(2) }}</span
                  >
                </div>
              </div>
            </template>
          </el-table-column>

          <el-table-column min-width="40px">
            <template v-slot="{ row }">
              <el-dropdown trigger="click" class="dropdown">
                <span class="btn btn-sm btn-icon-only text-light">
                  <i class="fas fa-ellipsis-v mt-2"></i>
                </span>
                <template #dropdown>
                  <el-dropdown-menu
                    class="dropdown-menu dropdown-menu-arrow show"
                  >
                    <a class="dropdown-item" v-on:click="sellOffer(row)"
                      >Sell</a
                    >
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>

        <modal
          :show="dialog.show"
          gradient="primary"
          v-on:close="dialog.show = false"
          :header="dialog.header"
          :body="dialog.body"
          :footer="dialog.footer"
          :inputs="dialog.inputs"
          :buttons="dialog.buttons"
        />
      </div>
    </template>
  </card>
</template>

<script>
import tableComponents from "../tableComponents";
import * as Dialogs from "../dialogs/dialogs";
import axios from "axios";

export default {
  components: {
    ...tableComponents,
  },
  data() {
    return {
      offers: undefined,
      dialog: {
        show: false,
      },
    };
  },
  mounted() {
    this.getSellOffers();
  },
  methods: {
    getSellOffers() {
      const baseURL = process.env.VUE_APP_BASE_URL;
      axios
        .get(baseURL + "/api/buy")
        .then((response) => {
          this.offers = response.data;
          this.$emit("setSubtitle", {
            id: 1,
            title: `${response.data.length} Offers`,
          });
        })
        .catch((error) => {
          this.dialog = Dialogs.offerResponseDialog(
            `An error occured, retrying in 5 seconds...`,
            error.message
          );

          setTimeout(() => {
            this.dialog = {
              show: false,
            };
            this.getSellOffers();
          }, 5000);
        });
    },
    sellOffer(offer) {
      let onSold = (response) => {
        if (response.status === 200) {
          this.dialog = Dialogs.offerResponseDialog(
            "Successfully sold energy!"
          );
        } else {
          //show error to user
          this.dialog = Dialogs.offerResponseDialog(
            `An error occured (${response.status})`,
            "Something went wrong"
          );
        }
      };
      this.dialog = Dialogs.sellOfferDialog(offer, onSold);
    },
  },
};
</script>

<style scoped>
.el-table-row {
  color: white;
  background: rgb(23, 43, 77);
}

.el-table-row:hover {
  color: black;
}
</style>