<template>

    <div class="container-fluid mt-5">
        
        <!--Charts-->
        <div class="row mt-5">
        <div class="col-12">
            <card type="default" header-classes="bg-transparent">
            <template v-slot:header>

                <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-light text-uppercase ls-1 mb-1">Scenario's & </h6>
                    <h5 class="h3 text-white mb-0">Voorspellingen</h5>
                </div>
                <div class="col-auto">
                    <base-button type="success">
                    {{ datasets[0].length }}
                    </base-button>
                    <base-dropdown>
                    <template v-slot:title>
                        <base-button type="success" class="dropdown-toggle">
                        Filter last {{ filterLast }}
                        </base-button>
                    </template>
                    <a class="dropdown-item" @click="() => setFilter(30)">Last 30</a>
                    <a class="dropdown-item" @click="() => setFilter(90)">Last 90</a>
                    <a class="dropdown-item" @click="() => setFilter(180)">Last 180</a>
                    </base-dropdown>
                </div>
                </div>
            </template>
            <div class="chart-area">
                <canvas id="voorspelling-grafiek"></canvas>
            </div>
            </card>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col-2 ">
                <base-dropdown>
                    <template v-slot:title>
                        <base-button type="warning" class="dropdown-toggle">
                        {{ EnergySource }}
                        </base-button>
                    </template>
                    <a class="dropdown-item" @click="() => changeScenario('energy', 'Kies Een Energiebron')">Kies Een energiebron</a>
                    <a class="dropdown-item" @click="() => changeScenario('energy', 'Zonne-energie')">Zonne-energie</a>
                    <a class="dropdown-item" @click="() => changeScenario('energy', 'Windenergie')">Windenergie</a>
                    <a class="dropdown-item" @click="() => changeScenario('energy', 'Kernerngie')">Kernerngie</a>
                </base-dropdown>
            </div>
            <div class="col-2 ">
                <base-dropdown>
                    <template v-slot:title>
                        <base-button type="warning" class="dropdown-toggle">
                        {{ location }}
                        </base-button>
                    </template>
                    <a class="dropdown-item" @click="() => changeScenario('location', 'Kies Een Locatie')">Kies Locatie</a>
                    <a class="dropdown-item" @click="() => changeScenario('location', 'Noord-Holland')">Noord-Holland</a>
                    <a class="dropdown-item" @click="() => changeScenario('location', 'Zuid-Holland')">Zuid-Holland</a>
                    <a class="dropdown-item" @click="() => changeScenario('location', 'Utrecht')">Utrecht</a>
                </base-dropdown>
            </div>
            <div class="col-2">
                 <input
                    class="input-group-alternative mb-3"
                    placeholder="Temperatuur (℃)"
                    addon-left-icon="ni ni-email-83"
                    v-model="temprature"
                />
            </div>
            <div class="col-2">
                <input
                    class="input-group-alternative mb-3"
                    placeholder="Windsnelheid (km/h)"
                    addon-left-icon="ni ni-email-83"
                    v-model="windSpeed"
                />
            </div>
            <div class="col-1">
               
            </div>
            <div class="col-3">
                 <base-button type="primary" class="float-right" @click="getPrediction"
                  >Submit</base-button
                >
            </div>
        </div>  
    </div>
</template>

<script>
import {
  ArcElement,
  BarController,
  BarElement,
  BubbleController,
  CategoryScale,
  Chart,
  Decimation,
  DoughnutController,
  Filler,
  Legend,
  LinearScale,
  LineController,
  LineElement,
  LogarithmicScale,
  PieController,
  PointElement,
  PolarAreaController,
  RadarController,
  RadialLinearScale,
  ScatterController,
  TimeScale,
  TimeSeriesScale,
  Title,
  Tooltip
} from "chart.js";
import "chartjs-adapter-moment";
import moment from "moment";
import BaseDropdown from "@/components/BaseDropdown";
import BaseButton from "@/components/BaseButton";
import { axiosAPI } from '@/config/AxiosConfig';
import querystring from 'querystring';
import PredictionChartConfig from "@/views/prediction/charts/PredictionChartConfig";

Chart.register(
  ArcElement,
  LineElement,
  BarElement,
  PointElement,
  BarController,
  BubbleController,
  DoughnutController,
  LineController,
  PieController,
  PolarAreaController,
  RadarController,
  ScatterController,
  CategoryScale,
  LinearScale,
  LogarithmicScale,
  RadialLinearScale,
  TimeScale,
  TimeSeriesScale,
  Decimation,
  Filler,
  Legend,
  Title,
  Tooltip
);
let chart;
export default {
  name: "prediction-chart",
  components: {
    BaseButton,
    BaseDropdown,
  },

  data() {
    return {
      datasets: [[], [], []],
      predictionValues: [],
      connection: {},
      startedPromise: false,
      filterLast: 30,
      location: "Kies Een Locatie",
      startDate: new Date(),
      endDate: new Date(),
      temprature: '',
      EnergySource: "Kies een energiebron",
      subject: '',
      url: '',
      windSpeed: '',
    };
  },
  methods: {
    updateChart(i, value) {
      this.datasets[i].push(value);
      chart.data.datasets[i].data = this.datasets[i].slice(-this.filterLast);
      this.location = "Kies Een Locatie"
      chart.update();
    },
    getDate(input) {
      return moment(new Date(input)).set("millisecond", 0);
    },
    filterProducerType(obj, type) {
      return obj.producerType === type;
    },
    setFilter(amount) {
      console.log("setfilter", amount);
      this.filterLast = amount;
    },
    changeScenario(type, value){
        switch(type){
            case "location":
                this.location = value;
                console.log(this.location);
                break;
            case "energy":
                this.EnergySource = value;
                break;
            case "startDate":
                this.startDate = value;
                break;
            case "endDate":
                this.endDate = value;
                break;
        }
    },
    setSubject(value){
        let temp =  Number.parseInt(this.temprature);
        let speed = Number.parseInt(this.windSpeed);
        switch(value){
            case 'Zonne-energie':
                this.url = `/api/prediction/solar?timesteps=1d&location=${this.location}&start=${this.startDate.toISOString()}&end=${this.endDate.toISOString()}&temprature=${temp}`;
                break;
            case 'Windenergie':
                this.url = `/api/prediction/wind?timesteps=1d&location=${this.location}&windspeed=${speed}&temprature=${temp}&start=${this.startDate.toISOString()}&end=${this.endDate.toISOString()}`;
                break;
        }
    },
    initChart() {
      if (chart) {
        chart.destroy();
      }

      const config = PredictionChartConfig.config(this.predictionValues);
      const options = PredictionChartConfig.options();

      chart = new Chart(document.getElementById("voorspelling-grafiek"), {
        type: "line",
        data: config,
        options
      });
    },
    getPrediction(){
      

        // gebruik axios en haal localhost + port weg vervang met /
        // fetch(`http://localhost:5045/api/prediction/solar?timesteps=1d&location=${this.location}&start=${this.startDate}&end=${this.endDate}`,
        // {
        //     "method": "GET",
        // })
        console.log(this.startDate.toLocaleDateString())
        this.setSubject(this.EnergySource);
        console.log(this.url);

        axiosAPI
        .get(this.url)
        .then(response => {
            console.log(response.data.windSpeedIntervals)
            console.log(this.EnergySource);
            if(this.EnergySource == 'Zonne-energie'){
            this.predictionValues = response.data.solarIntervals
                .map((v) => ({ x: this.getDate(v.date), y: v.ghi }))
                .reverse()
                .slice(-this.filterLast);
            }else if (this.EnergySource == 'Windenergie'){
                this.predictionValues = response.data.windSpeedIntervals
                .map((v) => ({ x: this.getDate(v.date), y: v.windSpeed }))
                .reverse()
                .slice(-this.filterLast);
            }
            
            this.datasets[0] = this.predictionValues;
            console.log(this.predictionValues)
            this.initChart(); //updatechart
        })
        .catch(err => {
            console.log(err);
        });
    }
  },
    mounted() {
        this.endDate.setDate(this.endDate.getDate() + 7)
        this.initChart();
  }
}
</script>

<style scoped>
.chart-area {
  height: 350px !important;
}
input {
  font-size: 14px;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: 6px;
}

input:focus {
  outline: none;
}
</style>