<template>
  <card class="card-stats" :show-footer-line="true">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0" v-if="title">
          {{ title }}
        </h5>

        <StatsCardRow
            class="mt-2"
            name="Huidig"
            :value="producerTotalCurrent"
        />

        <StatsCardRow
            name="Dag"
            :value="producerTotalDay"
        />

        <StatsCardRow
            name="Week"
            :value="producerTotalWeek"
        />

        <slot name="data">

        </slot>
      </div>

      <div class="col-auto" v-if="$slots.icon || icon">
        <slot name="icon">
          <div
            class="icon icon-shape text-white rounded-circle shadow"
            :class="[`bg-${type}`, iconClasses]"
          >
            <i :class="icon"></i>
          </div>
        </slot>
      </div>
    </div>

    <div class="mt-3 mb-0 text-sm">
      <slot name="footer"> </slot>

      <div class="row px-2">
                  <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"></i> 12.18%
                </span>
        <span class="text-nowrap">Ten opzichte van afgelopen maand</span>
      </div>
    </div>
  </card>
</template>
<script>
import Card from "../Card.vue";
import StatsCardRow from '@/components/Netbeheerder/StatsCardRow';
import { HubConnectionBuilder, LogLevel } from "@microsoft/signalr";

export default {
  name: "stats-card-netbeheerder-producent",
  components: {
    StatsCardRow,
    Card,
  },
  props: {
    type: {
      type: String,
      default: "primary",
    },
    icon: String,
    title: String,
    subTitle: String,
    iconClasses: [String, Array],
  },
  data() {
    return {
      producerTotalCurrent: NaN,
      producerTotalDay: NaN,
      producerTotalWeek: NaN,
      producerTotalMonth:  NaN,
      connection: {},
      startedPromise: false,
      filterLast: 30
    };
  },
  mounted() {
    const baseURL = process.env.VUE_APP_BASE_URL;
    this.connection = new HubConnectionBuilder()
      .withUrl(baseURL + "/api/energy/production-totals")
      .configureLogging(LogLevel.Information)
      .build();

    var start = () => {

      this.startedPromise = this.connection.start().catch((err) => {
        console.log(err);
        return new Promise((resolve, reject) =>
          setTimeout(() => start().then(resolve).catch(reject), 5000)
        );
      });
      return this.startedPromise;
    };

    this.connection.onclose(() => start());

    start();

    // TODO get totals before first message
    this.connection.on("ProducerTotalCurrent", (data) => {
      console.log(data);
      this.producerTotalCurrent = data.totalOutput;
    });

    this.connection.on("ProducerTotalDay", (data) => {
      this.producerTotalDay = data.totalOutput;
    });

    this.connection.on("ProducerTotalWeek", (data) => {
      this.producerTotalWeek = data.totalOutput;
    });

    this.connection.on("ProducerTotalMonth", (data) => {
      this.producerTotalMonth = data.totalOutput;
    });
  }
};
</script>
<style></style>
