<template>
  <div class="row">
    <div class="col-3 text-uppercase font-weight-bold text-muted pt-1 px-0 text-right">
      {{ name }}
    </div>
    <div class="col-9 h2 font-weight-bold mb-0">
      {{new Intl.NumberFormat('nl-NL').format(value)}} <small>kWh</small>
    </div>
  </div>
</template>
<script>

export default {
  name: "stats-card-row",
  components: {

  },
  props: {
    name: String,
    value: Number,
  },
};
</script>
<style></style>
