<template>
  <div class="header bg-gradient-success pb-6 pt-5 pt-md-5">
    <prediction-chart />
  </div>
</template>
<script>
import StatsCard from "@/components/StatsCard";
import BaseHeader from "@/components/BaseHeader";
import PredictionChart from "../../views/prediction/charts/PredictionChart.vue";
export default {
  components:{
    BaseHeader,
    PredictionChart,
    StatsCard
  }
}
</script>
