<!--

=========================================================
* Vue Argon Dashboard - v2.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-argon-dashboard
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/vue-argon-dashboard/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Power4All</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <script src="/__/firebase/8.5.0/firebase-app.js"></script>
    <script src="/__/firebase/8.5.0/firebase-analytics.js"></script>
    <script src="/__/firebase/8.5.0/firebase-performance.js"></script>
    <!-- Load the Firebase SDKs before loading this file -->
    <script src="/__/firebase/init.js"></script>
    <script>
      firebase.analytics();
    </script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
