<template>
  <card type="default" header-classes="bg-transparent">
    <template v-slot:header>
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-light text-uppercase ls-1 mb-1">Energie</h6>
          <h5 class="h3 text-white mb-0">Overzicht</h5>
        </div>
        <div class="col">

        </div>
      </div>
    </template>
    <div class="chart-area">
      <canvas :height="350" id="consumer-chart-id"></canvas>
    </div>
  </card>

</template>
<script>

import {
  ArcElement,
  BarController,
  BarElement,
  BubbleController,
  CategoryScale,
  Chart,
  Decimation,
  DoughnutController,
  Filler,
  Legend,
  LinearScale,
  LineController,
  LineElement,
  LogarithmicScale,
  PieController,
  PointElement,
  PolarAreaController,
  RadarController,
  RadialLinearScale,
  ScatterController,
  TimeScale,
  TimeSeriesScale,
  Title,
  Tooltip
} from "chart.js";
import { HubConnectionBuilder, LogLevel } from "@microsoft/signalr";
import "chartjs-adapter-moment";
import moment from "moment";
import axios from "axios";
import ConsumerChartConfig from '@/views/Dashboards/Charts/Consumer/ConsumerChartConfig';

Chart.register(
  ArcElement,
  LineElement,
  BarElement,
  PointElement,
  BarController,
  BubbleController,
  DoughnutController,
  LineController,
  PieController,
  PolarAreaController,
  RadarController,
  ScatterController,
  CategoryScale,
  LinearScale,
  LogarithmicScale,
  RadialLinearScale,
  TimeScale,
  TimeSeriesScale,
  Decimation,
  Filler,
  Legend,
  Title,
  Tooltip
);
let chart;

export default {
  components: {

  },

  data() {
    return {
      dataset: [],
      values: [],
      connection: {},
      startedPromise: false,
      filterLast: 30,
    };
  },
  methods: {
    updateChart(value) {
      this.dataset.push(value);
      chart.update();
    },
    getDate(input) {
      return moment(new Date(input)).set("millisecond", 0);
    },
    initChart() {
      if (chart) {
        chart.destroy();
      }

      var x_time = ConsumerChartConfig.getTimeData();
      var y_data1 = ConsumerChartConfig.getTemperature();
      var y_data2 = ConsumerChartConfig.getConsumedEnergy();

      chart = new Chart(document.getElementById("consumer-chart-id").getContext("2d"),
          ConsumerChartConfig.config(x_time, y_data1, y_data2)
      );
    }
  },
  mounted() {
    const consumerId = 1;
    const baseURL = process.env.VUE_APP_BASE_URL;
    this.connection = new HubConnectionBuilder()
      .withUrl(`${baseURL}/api/energy/consumer?consumerId=${consumerId}`)
      .configureLogging(LogLevel.Information)
      .build();

    var start = () => {

      this.startedPromise = this.connection.start().catch((err) => {
        console.log(err);
        return new Promise((resolve, reject) =>
          setTimeout(() => start().then(resolve).catch(reject), 5000)
        );
      });
      return this.startedPromise;
    };

    axios.get(`${baseURL}/api/consumer-messages/consumer/${consumerId}`).then(({ data }) => {

      this.values = data
        .map((v) => ({ x: this.getDate(v.dateTime), y: v.totalOutput }))
        .reverse()
        .slice(-this.filterLast);

      this.dataset = this.values;

      this.connection.onclose(() => start());

      start();

      this.connection.on("Consumer", (data) => {
        this.updateChart({ x: this.getDate(data.dateTime), y: data.totalOutput });
      });

      this.initChart();
    });
  }
};
</script>
<style scoped>
.chart-area {
  height: 350px !important;
}
</style>
