<template>
  <div class="container">
    <l-map
      v-model="zoom"
      v-model:zoom="zoom"
      :center="[52.35, 4.891711]"
      @move="log('move')"
      @click="$emit('update:modelValue', $event.latlng)"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ></l-tile-layer>
      <l-control-layers />
      <l-marker v-if="modelValue" :lat-lng="modelValue"></l-marker>
    </l-map>
  </div>
</template>
<script>
import {
  LMap,
  LIcon,
  LTileLayer,
  LMarker,
  LControlLayers,
  LTooltip,
  LPopup,
} from '@vue-leaflet/vue-leaflet';
import 'leaflet/dist/leaflet.css';
export default {
  components: {
    LMap,
    LIcon,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip,
    LPopup,
  },
  props: ['modelValue'],
  data() {
    return {
      zoom: 7,
      latlng: null,
    };
  },
  methods: {
    log(a) {
      console.log(a);
    },
  },
};
</script>

<style scoped>
.container {
  height: 60vh;
  width: 100%;
}

@media only screen and (min-width: 1500px) {
  .container {
    height: 60vh;
    width: 70%;
  }
}
</style>
