<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-1 pt-1 pt-md-1">
    </base-header>
    <h1 class="mb-3 mt-3 text-center">Producers</h1>
    <div class="pl-4 pr-5">
      <div class="row">
        <div class="col-xl-4 col-lg-6 text-center">
          <h2>Solar farms</h2>
          <div class="prodcers-col">
            <div class="table-responsive">
              <base-table thead-classes="thead-light" :data="solarFarms">
                <template v-slot:columns>
                  <th>Name</th>
                  <th>Solar panels</th>
                  <th>Actions</th>
                </template>

                <template v-slot:default="row">
                  <td>
                    {{ row.item.producerName }}
                  </td>
                  <td>
                    {{ row.item.solarPanelCount }}
                  </td>
                  <td>
                    <button
                      class="remove-btn"
                      @click="removeProducer(row.item.id)"
                    >
                      Remove
                    </button>
                  </td>
                </template>
              </base-table>
              <base-button
                type="primary"
                class="my-4"
                @click="setModal('solarfarm')"
                >Add solar farm</base-button
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 text-center">
          <h2>Wind farms</h2>
          <base-table thead-classes="thead-light" :data="windFarms">
            <template v-slot:columns>
              <th>Name</th>
              <th>Wind turbines</th>
              <th>Actions</th>
            </template>

            <template v-slot:default="row">
              <td>
                {{ row.item.producerName }}
              </td>
              <td>
                {{ row.item.windTurbineCount }}
              </td>
              <td>
                <button class="remove-btn" @click="removeProducer(row.item.id)">
                  Remove
                </button>
              </td>
            </template>
          </base-table>
          <base-button type="primary" class="my-4" @click="setModal('windfarm')"
            >Add wind farm</base-button
          >
        </div>
        <div class="col-xl-4 col-lg-6 text-center">
          <h2>Power plants</h2>
          <base-table thead-classes="thead-light" :data="powerPlants">
            <template v-slot:columns>
              <th>Name</th>
              <th>Production (gW)</th>
              <th>Actions</th>
            </template>

            <template v-slot:default="row">
              <td>
                {{ row.item.producerName }}
              </td>
              <td>
                {{ row.item.production }}
              </td>
              <td>
                <button class="remove-btn" @click="removeProducer(row.item.id)">
                  Remove
                </button>
              </td>
            </template>
          </base-table>
          <base-button
            type="primary"
            class="my-4"
            @click="setModal('powerplant')"
            >Add power plant</base-button
          >
        </div>

        <!-- MAP -->

        <card v-if="!showModal" class="map-card" :show-footer-line="true">
          <ProducersMap class="leaflet-map" />
        </card>

        <!-- MODAL -->

        <div
          v-if="showModal"
          class="modal"
          id="custom-modal"
          @click="clickModal($event)"
        >
          <div class="modal-content">
            <div class="modal-header mt-2">
              <h2>Add {{ modalTemplate.type }}</h2>
              <span class="close" @click="showModal = false">&times;</span>
            </div>
            <div class="modal-body">
              <form v-if="modalType == 'solarfarm'">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Producer name</label>
                        <input
                          class="form-control-alternative"
                          placeholder="Producer name"
                          v-model="newSolarFarm.producerName"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Solar panels</label>
                        <input
                          placeholder="100"
                          type="number"
                          min="1"
                          class="form-control-alternative"
                          v-model="newSolarFarm.solarPanelCount"
                        />
                      </div>
                    </div>
                    <AddProducerMap v-model="newSolarFarm.location" />
                  </div>
                  <div class="center-btn-container">
                    <base-button
                      type="primary"
                      class="my-4"
                      @click="addSolarFarm()"
                      >Add {{ modalTemplate.type }}</base-button
                    >
                  </div>
                </div>
              </form>
              <form v-else-if="modalType == 'windfarm'">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Producer name</label>
                        <input
                          class="form-control-alternative"
                          placeholder="Producer name"
                          v-model="newWindFarm.producerName"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Wind turbines</label>
                        <input
                          placeholder="100"
                          type="number"
                          min="1"
                          class="form-control-alternative"
                          v-model="newWindFarm.windTurbineCount"
                        />
                      </div>
                    </div>
                    <AddProducerMap v-model="newWindFarm.location" />
                  </div>
                  <div class="center-btn-container">
                    <base-button
                      type="primary"
                      class="my-4"
                      @click="addWindFarm()"
                      >Add {{ modalTemplate.type }}</base-button
                    >
                  </div>
                </div>
              </form>
              <form v-else-if="modalType == 'powerplant'">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Producer name</label>
                        <input
                          class="form-control-alternative"
                          placeholder="Producer name"
                          v-model="newPowerPlant.producerName"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="label-input">
                        <label for="">Production (kW)</label>
                        <input
                          placeholder="100"
                          type="number"
                          min="1"
                          class="form-control-alternative"
                          v-model="newPowerPlant.production"
                        />
                      </div>
                    </div>
                    <AddProducerMap v-model="newPowerPlant.location" />
                  </div>
                  <div class="center-btn-container">
                    <base-button
                      type="primary"
                      class="my-4"
                      @click="addPowerPlant()"
                      >Add {{ modalTemplate.type }}</base-button
                    >
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProducersMap from './ProducersMap';
import AddProducerMap from './AddProducerMap';
import { axiosAPI } from '@/config/AxiosConfig';

export default {
  data() {
    return {
      newSolarFarm: {
        producerName: null,
        solarPanelCount: null,
        location: null,
      },
      showModal: false,
      modalType: null,
      modalTemplate: {
        title: null,
        type: null,
      },
      newWindFarm: {
        producerName: null,
        WindTurbineCount: null,
        location: null,

        type: 'Wind',
      },
      newPowerPlant: {
        producerName: null,
        production: null,
        location: null,

        type: 'Nuclear',
      },
      solarFarms: [],
      windFarms: [],
      powerPlants: [],
    };
  },
  components: {
    ProducersMap,
    AddProducerMap,
  },
  methods: {
    removeProducer(producerId) {
      axiosAPI
        .delete('/api/producer?producerid=' + producerId)
        .then(() => {
          this.getProducers();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addSolarFarm() {
      let addProducerRequest = {
        producerName: this.newSolarFarm.producerName,
        type: 'Solar',
        longitude: this.newSolarFarm.location.lng.toString(),
        latitude: this.newSolarFarm.location.lat.toString(),
        attributes: [],
      };

      let producerAttributeDTO = {
        attributeName: 'solarPanelCount',
        value: this.newSolarFarm.solarPanelCount,
      };

      addProducerRequest.attributes.push(producerAttributeDTO);

      axiosAPI.post('/api/producer', addProducerRequest).then(() => {
        this.showModal = false;
        this.getProducers();
      });
    },
    addWindFarm() {
      console.log(this.newWindFarm);
      let addProducerRequest = {
        producerName: this.newWindFarm.producerName,
        type: 'Wind',
        longitude: this.newWindFarm.location.lng.toString(),
        latitude: this.newWindFarm.location.lat.toString(),
        attributes: [],
      };

      let producerAttributeDTO = {
        attributeName: 'windTurbineCount',
        value: this.newWindFarm.windTurbineCount,
      };

      addProducerRequest.attributes.push(producerAttributeDTO);

      axiosAPI.post('/api/producer', addProducerRequest).then(() => {
        this.showModal = false;
        this.getProducers();
      });
    },
    addPowerPlant() {
      let addProducerRequest = {
        producerName: this.newPowerPlant.producerName,
        type: 'Nuclear',
        longitude: this.newPowerPlant.location.lng.toString(),
        latitude: this.newPowerPlant.location.lat.toString(),
        attributes: [],
      };

      let producerAttributeDTO = {
        attributeName: 'production',
        value: this.newPowerPlant.production,
      };

      addProducerRequest.attributes.push(producerAttributeDTO);

      axiosAPI.post('/api/producer', addProducerRequest).then(() => {
        this.showModal = false;
        this.getProducers();
      });
    },
    clickModal(evt) {
      var modal = document.getElementById('custom-modal');

      if (evt.target == modal) {
        this.showModal = false;
      }
    },
    setModal(type) {
      this.modalType = type;
      switch (type) {
        case 'solarfarm':
          this.modalTemplate.type = 'solar farm';
          break;
        case 'windfarm':
          this.modalTemplate.type = 'wind farm';
          break;
        case 'powerplant':
          this.modalTemplate.type = 'power plant';
          break;
      }

      this.showModal = true;
    },
    getProducers() {
      axiosAPI.get('/api/producer').then((response) => {
        this.solarFarms = [];
        this.windFarms = [];
        this.powerPlants = [];
        response.data.forEach((producer) => {
          if (producer.producerType.type == 'Solar') {
            let newSolarFarm = {
              id: producer.id,
              solarPanelCount: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'solarPanelCount';
              })[0].value,
              location: producer.longitude + ', ' + producer.latitude,
              producerName: producer.producerName,
            };
            this.solarFarms.push(newSolarFarm);
          } else if (producer.producerType.type == 'Wind') {
            let newSolarFarm = {
              id: producer.id,
              windTurbineCount: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'windTurbineCount';
              })[0].value,
              location: producer.longitude + ', ' + producer.latitude,
              producerName: producer.producerName,
            };
            this.windFarms.push(newSolarFarm);
          } else if (producer.producerType.type == 'Nuclear') {
            let newPowerPlant = {
              id: producer.id,
              production: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'production';
              })[0].value,
              location: producer.longitude + ', ' + producer.latitude,
              producerName: producer.producerName,
            };
            this.powerPlants.push(newPowerPlant);
          }
        });
      });
    },
  },
  mounted() {
    this.getProducers();
  },
};
</script>

<style scoped>
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

.center-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

input::placeholder {
  color: #8898aa;
  font-weight: 400;
  font-size: 0.875rem;
}

.map-card {
  width: 100%;
}

.remove-btn {
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  border-radius: 0.375rem;
  display: inline-block;
  font-weight: 600;
}
</style>
