<template>
  <div class="container">
    <l-map
      v-model="zoom"
      v-model:zoom="zoom"
      :center="[52.35, 4.891711]"
      @move="log('move')"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ></l-tile-layer>
      <l-control-layers />
      <template v-for="solarFarm in solarFarms" :key="solarFarm.id">
        <l-marker :lat-lng="[solarFarm.latitude, solarFarm.longitude]">
          <l-icon
            :icon-url="'http://simpleicon.com/wp-content/uploads/sun.png'"
            :icon-size="30"
          />
          <l-popup>
            <h4>Name: {{ solarFarm.name }}</h4>
            <h4>Zonnepanelen: {{ solarFarm.solarPanelCount }}</h4>
          </l-popup>
        </l-marker>
      </template>

      <template v-for="windFarm in windFarms" :key="windFarm.id">
        <l-marker :lat-lng="[windFarm.latitude, windFarm.longitude]">
          <l-icon
            :icon-url="'https://cdn2.iconfinder.com/data/icons/energy-ecology-1/100/Energy-06-512.png'"
            :icon-size="30"
          />
          <l-popup>
            <h4>Name: {{ windFarm.name }}</h4>
            <h4>Windturbines: {{ windFarm.windTurbineCount }}</h4>
          </l-popup>
        </l-marker>
      </template>

      <template v-for="powerPlant in powerPlants" :key="powerPlant.id">
        <l-marker :lat-lng="[powerPlant.latitude, powerPlant.longitude]">
          <l-icon
            :icon-url="'https://cdn3.iconfinder.com/data/icons/energy-and-power-glyph-24-px/24/Factory_industry_mill_power_plant_production_unit-512.png'"
            :icon-size="30"
          />
          <l-popup>
            <h4>Name: {{ powerPlant.name }}</h4>
            <h4>Productie: {{ powerPlant.production }} KW</h4>
          </l-popup>
        </l-marker>
      </template>
    </l-map>
  </div>
</template>
<script>
import { axiosAPI } from '@/config/AxiosConfig';

import {
  LMap,
  LIcon,
  LTileLayer,
  LMarker,
  LControlLayers,
  LTooltip,
  LPopup,
} from '@vue-leaflet/vue-leaflet';
import 'leaflet/dist/leaflet.css';
export default {
  components: {
    LMap,
    LIcon,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip,
    LPopup,
  },
  data() {
    return {
      zoom: 7,
      solarFarms: [],
      windFarms: [],
      powerPlants: [],
    };
  },
  methods: {
    log(a) {
      console.log(a);
    },
    getProducers() {
      axiosAPI.get('/api/producer').then((response) => {
        this.solarFarms = [];
        this.windFarms = [];
        this.powerPlants = [];
        response.data.forEach((producer) => {
          if (producer.producerType.type == 'Solar') {
            let newSolarFarm = {
              id: producer.id,
              solarPanelCount: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'solarPanelCount';
              })[0].value,
              longitude: producer.longitude,
              latitude: producer.latitude,
              name: producer.producerName,
            };
            this.solarFarms.push(newSolarFarm);
          } else if (producer.producerType.type == 'Wind') {
            let newSolarFarm = {
              id: producer.id,
              windTurbineCount: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'windTurbineCount';
              })[0].value,
              longitude: producer.longitude,
              latitude: producer.latitude,
              name: producer.producerName,
            };
            this.windFarms.push(newSolarFarm);
          } else if (producer.producerType.type == 'Nuclear') {
            let newPowerPlant = {
              id: producer.id,
              production: producer.attributes.filter(function (attr) {
                return attr.attributeName == 'production';
              })[0].value,
              longitude: producer.longitude,
              latitude: producer.latitude,
              name: producer.producerName,
            };
            this.powerPlants.push(newPowerPlant);
          }
        });
      });
    },
  },
  mounted() {
    this.getProducers();
  },
};
</script>

<style scoped>
.container {
  height: 60vh;
  width: 100%;
}

@media only screen and (min-width: 1500px) {
  .container {
    height: 60vh;
    width: 70%;
  }
}
</style>
