<template>
  <div>
    <base-header
      class="header pb-8 pt-6 pt-lg-8 d-flex align-items-center"
      style="
        min-height: 200px;
        background-image: url(https://www.nicepng.com/png/detail/26-267873_power-line-clipart-electricity-pole-telephone-pole-png.png);
        background-size: cover;
        background-position: center top;
      "
    >
      <!-- Mask -->
      <span class="mask bg-gradient-success opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{ helloName }},</h1>
            <p class="text-white mt-0 mb-5">
              This is your profile page. You can change view and edit your
              personal information here.
            </p>
          </div>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="card-body pt-0 pt-md-4">
              <div class="text-center">
                <div>
                  <button @click="getAllData">Request all data</button>
                </div>
                <div class="mt-4">
                  <button class="remove" @click="showConfirmModal = true">
                    Remove all data
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My account</h3>
                  </div>
                </div>
              </div>
            </template>

            <form>
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row"></div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="label-input">
                      <label for="">First name</label>

                      <input
                        class="form-control-alternative"
                        placeholder="First name"
                        v-model="model.firstName"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="label-input">
                      <label for="">Last name</label>

                      <input
                        class="form-control-alternative"
                        placeholder="Last name"
                        v-model="model.lastName"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="label-input">
                      <label for="">Email</label>

                      <input
                        class="form-control-alternative"
                        placeholder="name@example.com"
                        v-model="model.email"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="label-input">
                      <label for="">Postal code</label>

                      <input
                        class="form-control-alternative"
                        v-model="model.postalCode"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="label-input">
                      <label for="">House number</label>

                      <input
                        class="form-control-alternative"
                        v-model="model.houseNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="center-btn-container">
                <button @click="editProfile">Edit profile</button>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>

    <!-- data modal -->
    <div
      v-if="showDataModal"
      class="modal"
      id="data-modal"
      @click="clickDataModal($event)"
    >
      <div class="modal-content">
        <div class="modal-header mt-2">
          <h2>Your personal data</h2>
          <span class="close" @click="showDataModal = false">&times;</span>
        </div>
        <div class="modal-body">
          <pre><code> {{ showData }}</code></pre>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>

    <!-- confirm modal -->
    <div
      v-if="showConfirmModal"
      class="modal"
      id="confirm-modal"
      @click="clickConfirmModal($event)"
    >
      <div class="modal-content">
        <div class="modal-header mt-2">
          <h2>Confirm deletion</h2>
          <span class="close" @click="showConfirmModal = false">&times;</span>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to remove all your personal data from our
            system? This action will remove your account from our system and log
            you out
          </p>
          <b style="color: red">Warning: this action cannot be undone</b>
        </div>
        <div class="modal-footer">
          <div class="confirm-container">
            <button @click="showConfirmModal = false">Cancel</button>
            <button @click="removeAllData">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { axiosAPI } from '@/config/AxiosConfig';
export default {
  name: 'user-profile',
  data() {
    return {
      showData: null,
      showConfirmModal: false,
      showDataModal: false,
      helloName: null,
      model: {
        firstName: '',
        lastName: '',
        email: '',
        postalCode: '',
        houseNumber: '',
      },
    };
  },
  components: {},
  methods: {
    logout() {
      axiosAPI.post('/api/auth/signout').then(this.$router.push('/login'));
    },
    removeAllData() {
      axiosAPI.delete(`/api/accounts/${this.model.userId}`).then((response) => {
        this.logout();
      });
    },
    editProfile(e) {
      e.preventDefault();

      axiosAPI
        .put(`/api/accounts/${this.model.userId}`, this.model)
        .then((response) => {
          this.helloName = this.model.firstName;
        });
    },
    clickConfirmModal(evt) {
      var modal = document.getElementById('confirm-modal');

      if (evt.target == modal) {
        this.showConfirmModal = false;
      }
    },
    clickDataModal(evt) {
      var modal = document.getElementById('data-modal');

      if (evt.target == modal) {
        this.showDataModal = false;
      }
    },
    getAllData() {
      this.showDataModal = true;

      axiosAPI.get('/api/accounts').then((response) => {
        this.showData = JSON.stringify(response.data, null, 4);
      });
    },
  },
  mounted() {
    axiosAPI.get('/api/accounts').then((response) => {
      this.model = response.data;
      this.helloName = response.data.firstName;
    });
  },
};
</script>

<style scoped>
button {
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  border-radius: 0.375rem;
  display: inline-block;
  font-weight: 600;
}

.remove {
  background-color: #dc3545;
  border-color: #dc3545;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

input::placeholder {
  color: #8898aa;
  font-weight: 400;
  font-size: 0.875rem;
}

.center-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-btn-container button {
  padding: 5px;
  background-color: #41d296;
  border-color: #41d296;
}

.confirm-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.confirm-container button:first-child {
  padding: 5px;
  background-color: #5e72e4;
  border-color: #5e72e4;
}

.confirm-container button:last-child {
  padding: 5px;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Modal */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}
</style>
