<template>
    <div class="container-fluid mt--5">
      <!--Charts-->
      <div class="row">
        <div class="col-12">
          <card type="default" header-classes="bg-transparent">
            <template v-slot:header>

              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Energie</h6>
                  <h5 class="h3 text-white mb-0">Productie</h5>
                </div>
                <div class="col-auto">
                  <base-button type="success">
                    {{ datasets[0].length }}
                  </base-button>
                  <base-dropdown>
                    <template v-slot:title>
                      <base-button type="success" class="dropdown-toggle">
                        Filter last {{ filterLast }}
                      </base-button>
                    </template>
                    <a class="dropdown-item" @click="() => setFilter(30)">Last 30</a>
                    <a class="dropdown-item" @click="() => setFilter(90)">Last 90</a>
                    <a class="dropdown-item" @click="() => setFilter(180)">Last 180</a>
                  </base-dropdown>
                </div>
              </div>
            </template>
            <div class="chart-area">
              <canvas id="netbeheerder-grafiek"></canvas>
            </div>
          </card>
        </div>
      </div>
    </div>

</template>
<script>

import {
  ArcElement,
  BarController,
  BarElement,
  BubbleController,
  CategoryScale,
  Chart,
  Decimation,
  DoughnutController,
  Filler,
  Legend,
  LinearScale,
  LineController,
  LineElement,
  LogarithmicScale,
  PieController,
  PointElement,
  PolarAreaController,
  RadarController,
  RadialLinearScale,
  ScatterController,
  TimeScale,
  TimeSeriesScale,
  Title,
  Tooltip
} from "chart.js";
import { HubConnectionBuilder, LogLevel } from "@microsoft/signalr";
import "chartjs-adapter-moment";
import moment from "moment";
import BaseDropdown from "@/components/BaseDropdown";
import BaseButton from "@/components/BaseButton";
import axios from "axios";
import NetbeheerderProducerChartConfig
  from "@/views/Dashboards/Charts/Netbeheerder/Producer/NetbeheerderProducerChartConfig";

Chart.register(
  ArcElement,
  LineElement,
  BarElement,
  PointElement,
  BarController,
  BubbleController,
  DoughnutController,
  LineController,
  PieController,
  PolarAreaController,
  RadarController,
  ScatterController,
  CategoryScale,
  LinearScale,
  LogarithmicScale,
  RadialLinearScale,
  TimeScale,
  TimeSeriesScale,
  Decimation,
  Filler,
  Legend,
  Title,
  Tooltip
);
let chart;

export default {
  components: {
    BaseButton,
    BaseDropdown,
  },

  data() {
    return {
      datasets: [[], [], []],
      nuclearValues: [],
      solarValues: [],
      windValues: [],
      connection: {},
      startedPromise: false,
      filterLast: 30
    };
  },
  methods: {
    updateChart(i, value) {
      this.datasets[i].push(value);
      chart.data.datasets[i].data = this.datasets[i].slice(-this.filterLast);

      chart.update();
    },
    getDate(input) {
      return moment(new Date(input)).set("millisecond", 0);
    },
    filterType(obj, type) {
      return obj.producerType === type;
    },
    setFilter(amount) {
      console.log("setfilter", amount);
      this.filterLast = amount;
    },
    initChart() {
      if (chart) {
        chart.destroy();
      }

      const config = NetbeheerderProducerChartConfig.config(this.nuclearValues, this.solarValues, this.windValues);
      const options = NetbeheerderProducerChartConfig.options();
      Chart.defaults.color='#c9c9c9';
      chart = new Chart(document.getElementById("netbeheerder-grafiek"), {
        type: "line",
        data: config,
        options
      });
    }
  },
  mounted() {
    const baseURL = process.env.VUE_APP_BASE_URL;
    this.connection = new HubConnectionBuilder()
      .withUrl(baseURL+"/api/energy/production")
      .configureLogging(LogLevel.Information)
      .build();

    var start = () => {

      this.startedPromise = this.connection.start().catch((err) => {
        console.log(err);
        return new Promise((resolve, reject) =>
          setTimeout(() => start().then(resolve).catch(reject), 5000)
        );
      });
      return this.startedPromise;
    };


    axios.get(baseURL+"/api/producer-messages/subtotal").then(({ data }) => {
      const nuclear = data.filter((event) => this.filterType(event, "Nuclear"));
      const solar = data.filter((event) => this.filterType(event, "Solar"));
      const wind = data.filter((event) => this.filterType(event, "Wind"));

      this.nuclearValues = nuclear
        .map((v) => ({ x: this.getDate(v.dateTime), y: v.totalOutput }))
        .reverse()
        .slice(-this.filterLast);

      this.solarValues = solar
        .map((v) => ({ x: this.getDate(v.dateTime), y: v.totalOutput }))
        .reverse()
        .slice(-this.filterLast);

      this.windValues = wind
        .map((v) => ({ x: this.getDate(v.dateTime), y: v.totalOutput }))
        .reverse()
        .slice(-this.filterLast);

      this.datasets[0] = this.nuclearValues;
      this.datasets[1] = this.solarValues;
      this.datasets[2] = this.windValues;

      this.connection.onclose(() => start());

      start();

      this.connection.on("Producer", (data) => {
        switch (data.producerType) {
          case "Nuclear":
            this.updateChart(0, { x: this.getDate(data.dateTime), y: data.totalOutput });
            break;
          case "Solar":
            this.updateChart(1, { x: this.getDate(data.dateTime), y: data.totalOutput });
            break;
          case "Wind":
            this.updateChart(2, { x: this.getDate(data.dateTime), y: data.totalOutput });
            break;
        }
      });

      this.initChart();
    });
  }
};
</script>
<style scoped>
.chart-area {
  height: 350px !important;
}
</style>
