<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8" />

    <div class="container-fluid mt--7">
      <!--Charts-->
      <div class="row">
        <div class="col-xl-3 mb-5 mb-xl-0">
          <card type="default" header-classes="bg-transparent">
            <template v-slot:header>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Messages</h6>
                  <h5 class="h3 text-white mb-0">Send</h5>
                </div>
                <div class="col"></div>
              </div>
            </template>
            <div>
              <div class="form-group has-label">
                <label class="form-control-label">
                  <input
                    placeholder="Test Message"
                    class="form-control form-control-alternative"
                    aria-describedby="addon-right addon-left"
                    v-model="message"
                  />
                </label>
              </div>
              <button
                class="btn btn-primary fa-pull-right"
                @click="sendMessage"
              >
                Send Message
              </button>
            </div>
          </card>
        </div>

        <div class="col-xl-3">
          <card header-classes="bg-transparent">
            <template v-slot:header>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Messages</h6>
                  <h5 class="h3 mb-0">Nuclear</h5>
                </div>
              </div>
            </template>
            <div>
              <div v-for="(message, key) in nuclearMessages" :key="key">
                {{ message.output }}
              </div>
            </div>
          </card>
        </div>

        <div class="col-xl-3">
          <card header-classes="bg-transparent">
            <template v-slot:header>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Messages</h6>
                  <h5 class="h3 mb-0">Solar</h5>
                </div>
              </div>
            </template>
            <div>
              <div v-for="(message, key) in solarMessages" :key="key">
                {{ message.output }}
              </div>
            </div>
          </card>
        </div>

        <div class="col-xl-3">
          <card header-classes="bg-transparent">
            <template v-slot:header>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Messages</h6>
                  <h5 class="h3 mb-0">Wind</h5>
                </div>
              </div>
            </template>
            <div>
              <div v-for="(message, key) in windMessages" :key="key">
                {{ message.output }}
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { HubConnectionBuilder, LogLevel } from "@microsoft/signalr";

export default {
  components: {},
  data() {
    return {
      message: "",
      nuclearMessages: [],
      solarMessages: [],
      windMessages: [],
      connection: {},
      startedPromise: false,
    };
  },
  methods: {
    sendMessage() {
      if (!this.startedPromise) return;

      return this.startedPromise
        .then(() => this.connection.invoke("HelloWorld", this.message))
        .then(() => (this.message = ""))
        .catch(console.error);
    },
  },
  mounted() {
    const baseURL = process.env.VUE_APP_BASE_URL;
    this.connection = new HubConnectionBuilder()
      .withUrl(baseURL+"/api/energy/production")
      .configureLogging(LogLevel.Information)
      .build();

    var start = () => {
      this.startedPromise = this.connection.start().catch((err) => {
        console.log(err);
        return new Promise((resolve, reject) =>
          setTimeout(() => start().then(resolve).catch(reject), 5000)
        );
      });
      return this.startedPromise;
    };

    this.connection.onclose(() => start());

    start();

    this.connection.on("Producer", (data) => {

      switch (data.producerType) {
        case "Nuclear":
          this.nuclearMessages.push(data);
          break;
        case "Solar":
          this.solarMessages.push(data);
          break;
        case "Wind":
          this.windMessages.push(data);
          break;
      }
    });

  },
};
</script>
<style></style>
