<template>
  <div
    class="modal fade"
    @click.self="close"
    :class="[
      { 'show d-block': show },
      { 'd-none': !show },
      { 'modal-mini': type === 'mini' },
    ]"
    v-show="show"
    tabindex="-1"
    role="dialog"
    :aria-hidden="!show"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      :class="[{ 'modal-notice': type === 'notice' }, modalClasses]"
    >
      <div
        class="modal-content"
        :class="[
          gradient ? `bg-gradient-${gradient}` : '',
          modalContentClasses,
        ]"
      >
        <!-- v-if="$slots.header"  v-if="$slots.footer" -->
        <div class="modal-header" :class="[headerClasses]">
          <slot name="header"
            ><h6 class="font-weight-200 text-lg pl-1">{{ header }}</h6>
          </slot>
          <slot name="close-button">
            <button
              type="button"
              class="close"
              v-if="showClose"
              v-on:click="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span :aria-hidden="!show">×</span>
            </button>
          </slot>
        </div>

        <div class="modal-body" :class="bodyClasses">
          <slot>
            <h5 class="font-weight-400"> {{ body }} </h5>
          </slot>
          <div v-if="inputs">
            <slot v-for="(input, index) in inputs" :key="index">
              <p>{{ input.info }}</p>
              <input
                v-model="input.selected"
                :type="input.type"
                :min="input.min"
                :max="input.max"
                step="1"
                v-show="input.show"
              />
              <p v-if="input.selected">{{ input.callback(input.selected) }}</p>
            </slot>
          </div>
        </div>

        <div class="modal-footer" :class="footerClasses">
          <slot v-for="(button, index) in buttons" :key="index">
            <button
              type="button"
              v-on:click="
                button.isClose
                  ? close()
                  : button.callback(inputs[index]?.selected ?? 0)
              "
              :class="`btn btn-secondary ${isLast(button) ? '' : 'mr-auto'}`"
              :aria-label="button.title"
            >
              <span>{{ button.title }}</span>
            </button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "modal",
  props: {
    show: Boolean,
    showClose: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      default: "",
      validator(value) {
        let acceptedValues = ["", "notice", "mini"];
        return acceptedValues.indexOf(value) !== -1;
      },
      description: 'Modal type (notice|mini|"") ',
    },
    header: {
      type: String,
      description: "Modal header content",
    },
    body: {
      type: String,
      description: "Modal body content",
    },
    footer: {
      type: String,
      description: "Modal footer content",
    },
    buttons: {
      type: Array,
      description: "Modal button options",
    },
    inputs: {
      type: Array[(Object, String)],
      description: "Modal input options",
    },
    modalClasses: {
      type: [Object, String],
      description: "Modal dialog css classes",
    },
    modalContentClasses: {
      type: [Object, String],
      description: "Modal dialog content css classes",
    },
    gradient: {
      type: String,
      description: "Modal gradient type (danger, primary etc)",
    },
    headerClasses: {
      type: [Object, String],
      description: "Modal Header css classes",
    },
    bodyClasses: {
      type: [Object, String],
      description: "Modal Body css classes",
    },
    footerClasses: {
      type: [Object, String],
      description: "Modal Footer css classes",
    },
    animationDuration: {
      type: Number,
      default: 500,
      description: "Modal transition duration",
    },
  },
  methods: {
    close() {
      // this.$emit("update:show", false);
      this.$emit("close");
    },
    isLast(button) {
      return this.buttons.indexOf(button) === this.buttons.length - 1;
    },
  },
  watch: {
    show(val) {
      let documentClasses = document.body.classList;
      if (val) {
        documentClasses.add("modal-open");
      } else {
        documentClasses.remove("modal-open");
      }
    },
  },
};
</script>
<style scoped>
.modal.show {
  background-color: rgba(0, 0, 0, 0.3);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

input {
  font-size: 14px;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

p {
  margin-bottom: 0;
}
</style>
