<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="Totaal verbruik"
            type="gradient-red"
            sub-title="19,5 kWh"
            icon="ni ni-bulb-61"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:footer>
              <span class="text-danger mr-2">
                <i class="fa fa-arrow-up"></i> 3.48%
              </span>
              <span class="text-nowrap">Ten opzichte van afgelopen maand</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="Totaal teruglevering"
            type="gradient-green"
            sub-title="23,5 kWh"
            icon="ni ni-atom"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:footer>
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 12.18%
              </span>
              <span class="text-nowrap">Ten opzichte van afgelopen maand</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="Totale kosten"
            type="gradient-info"
            sub-title="€3,6"
            icon="ni ni-money-coins"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:footer>
              <span class="text-success mr-2">
                <i class="fa fa-arrow-down"></i> 5.72%
              </span>
              <span class="text-nowrap">Ten opzichte van afgelopen maand</span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--5">
      <!--Charts-->
      <div class="row">
        <div class="col-12">
          <consumer-chart />
        </div>
      </div>
      <!-- End charts-->

    </div>
  </div>
</template>
<script>
// Charts
import {
  ArcElement,
  BarController,
  BarElement,
  BubbleController,
  CategoryScale,
  Chart,
  Decimation,
  DoughnutController,
  Filler,
  Legend,
  LinearScale,
  LineController,
  LineElement,
  LogarithmicScale,
  PieController,
  PointElement,
  PolarAreaController,
  RadarController,
  RadialLinearScale,
  ScatterController,
  TimeScale,
  TimeSeriesScale,
  Title,
  Tooltip
} from "chart.js";
import StatsCard from "@/components/StatsCard";
import BaseHeader from "@/components/BaseHeader";
import ConsumerChart from '@/views/Dashboards/Charts/Consumer/ConsumerChart.vue';

Chart.register(
  ArcElement,
  LineElement,
  BarElement,
  PointElement,
  BarController,
  BubbleController,
  DoughnutController,
  LineController,
  PieController,
  PolarAreaController,
  RadarController,
  ScatterController,
  CategoryScale,
  LinearScale,
  LogarithmicScale,
  RadialLinearScale,
  TimeScale,
  TimeSeriesScale,
  Decimation,
  Filler,
  Legend,
  Title,
  Tooltip
);

let chart;

export default {
  components: {
    ConsumerChart,
    BaseHeader,
    StatsCard
  },
  data() {
    return {

    };
  },
  methods: {

  },
  mounted() {

  }
};
</script>
<style></style>
