<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <stats-card-netbeheerder-consument
            title="Totaal verbruik"
            type="gradient-red"
            sub-title="-- kWh"
            icon="ni ni-bulb-61"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:data></template>
          </stats-card-netbeheerder-consument>

        </div>
        <div class="col-xl-4 col-lg-6">
          <stats-card-netbeheerder-producent
            title="Totale Productie"
            type="gradient-green"
            icon="ni ni-atom"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:data></template>
          </stats-card-netbeheerder-producent>
        </div>
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="Totale onbalans"
            type="gradient-info"
            sub-title="-- kWh"
            icon="ni ni-money-coins"
            class="mb-4 mb-xl-0"
          >
            <template v-slot:footer>
              <span class="text-success mr-2">
                <i class="fa fa-arrow-down"></i> 5.72%
              </span>
              <span class="text-nowrap">Ten opzichte van afgelopen maand</span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <netbeheerder-producer-chart />

    <netbeheerder-consumer-chart />

  </div>
</template>
<script>
import StatsCard from "@/components/StatsCard";
import BaseHeader from "@/components/BaseHeader";
import NetbeheerderProducerChart from "@/views/Dashboards/Charts/Netbeheerder/Producer/NetbeheerderProducerChart";
import NetbeheerderConsumerChart from "@/views/Dashboards/Charts/Netbeheerder/Consumer/NetbeheerderConsumerChart";
import StatsCardNetbeheerderProducent from "@/components/Netbeheerder/StatsCardNetbeheerderProducent";
import StatsCardNetbeheerderConsument from "@/components/Netbeheerder/StatsCardNetbeheerderConsument";

export default {
  components: {
    StatsCardNetbeheerderConsument,
    StatsCardNetbeheerderProducent,
    NetbeheerderConsumerChart,
    NetbeheerderProducerChart,
    BaseHeader,
    StatsCard
  },

  data() {
    return {
    };
  },
  methods: {},
};
</script>
