<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-1 pt-1 pt-md-1">
    </base-header>
    <h1 class="mb-3 mt-3 text-center">Producer dashboard</h1>
    <div class="container-fluid mt--12">
      <card type="default" header-classes="bg-transparent">
        <template v-slot:header>
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Production</h5>
            </div>
          </div>
        </template>
        <div class="chart-area">
          <canvas :height="350" :id="productionChartID"></canvas>
        </div>
      </card>
      <card type="default" class="mt-5" header-classes="bg-transparent">
        <template v-slot:header>
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Consumption</h5>
            </div>
          </div>
        </template>
        <div class="chart-area">
          <canvas :height="350" :id="consumptionChartID"></canvas>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import { HubConnectionBuilder, LogLevel } from '@microsoft/signalr';
import {
  ArcElement,
  BarController,
  BarElement,
  BubbleController,
  CategoryScale,
  Chart,
  Decimation,
  DoughnutController,
  Filler,
  Legend,
  LinearScale,
  LineController,
  LineElement,
  LogarithmicScale,
  PieController,
  PointElement,
  PolarAreaController,
  RadarController,
  RadialLinearScale,
  ScatterController,
  TimeScale,
  TimeSeriesScale,
  Title,
  Tooltip
} from "chart.js";

Chart.register(
  ArcElement,
  LineElement,
  BarElement,
  PointElement,
  BarController,
  BubbleController,
  DoughnutController,
  LineController,
  PieController,
  PolarAreaController,
  RadarController,
  ScatterController,
  CategoryScale,
  LinearScale,
  LogarithmicScale,
  RadialLinearScale,
  TimeScale,
  TimeSeriesScale,
  Decimation,
  Filler,
  Legend,
  Title,
  Tooltip
);
export default {
  data() {
    return {
      productionChartID: 'productionChart',
      consumptionChartID: 'consumptionChart',
      productionData: {
        x: [],
        y: [],
      },
      consumptionData: {
        x: [],
        y: [],
      },
    };
  },
  methods: {
    getProductionData() {
      if (!this.startedPromise) return;

      return this.startedPromise
        .then(() => this.connection.invoke('GetProductionData'))
        .catch(console.error);
    },
    getConsumptionData() {
      if (!this.startedPromise) return;

      return this.startedPromise
        .then(() => this.connection.invoke('GetConsumptionData'))
        .catch(console.error);
    },
  },
  mounted() {
    const baseURL = process.env.VUE_APP_BASE_URL;
    this.connection = new HubConnectionBuilder()
      .withUrl(baseURL+'/api/energy/production')
      .configureLogging(LogLevel.Information)
      .build();

    var start = () => {
      this.startedPromise = this.connection.start().catch((err) => {
        console.log(err);
        return new Promise((resolve, reject) =>
          setTimeout(() => start().then(resolve).catch(reject), 5000)
        );
      });
      return this.startedPromise;
    };

    this.connection.onclose(() => start());

    start();

    let productionChart = new Chart(
      document.getElementById(this.productionChartID).getContext('2d'),
      {
        type: 'line',
        data: {
          labels: this.productionData.x,
          datasets: [
            {
              tension: 0.4,
              borderWidth: 4,
              borderColor: '#5e72e4',
              pointRadius: 0,
              backgroundColor: 'transparent',
              data: this.productionData.y,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
          },
          scales: {
            yAxes: [
              {
                barPercentage: 1.6,
                gridLines: {
                  drawBorder: false,
                  color: 'rgba(29,140,248,0.0)',
                  zeroLineColor: 'transparent',
                },
                ticks: {
                  padding: 0,
                  fontColor: '#8898aa',
                  fontSize: 13,
                  fontFamily: 'Open Sans',
                },
              },
            ],
            xAxes: [
              {
                barPercentage: 1.6,
                gridLines: {
                  drawBorder: false,
                  color: 'rgba(29,140,248,0.0)',
                  zeroLineColor: 'transparent',
                },
                ticks: {
                  padding: 10,
                  fontColor: '#8898aa',
                  fontSize: 13,
                  fontFamily: 'Open Sans',
                },
              },
            ],
          },
          layout: {
            padding: 0,
          },
        },
      }
    );

    let consumptionChart = new Chart(
      document.getElementById(this.consumptionChartID).getContext('2d'),
      {
        type: 'line',
        data: {
          labels: this.consumptionData.x,
          datasets: [
            {
              tension: 0.4,
              borderWidth: 4,
              borderColor: '#5e72e4',
              pointRadius: 0,
              backgroundColor: 'transparent',
              data: this.consumptionData.y,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
          },
          scales: {
            yAxes: [
              {
                barPercentage: 1.6,
                gridLines: {
                  drawBorder: false,
                  color: 'rgba(29,140,248,0.0)',
                  zeroLineColor: 'transparent',
                },
                ticks: {
                  padding: 0,
                  fontColor: '#8898aa',
                  fontSize: 13,
                  fontFamily: 'Open Sans',
                },
              },
            ],
            xAxes: [
              {
                barPercentage: 1.6,
                gridLines: {
                  drawBorder: false,
                  color: 'rgba(29,140,248,0.0)',
                  zeroLineColor: 'transparent',
                },
                ticks: {
                  padding: 10,
                  fontColor: '#8898aa',
                  fontSize: 13,
                  fontFamily: 'Open Sans',
                },
              },
            ],
          },
          layout: {
            padding: 0,
          },
        },
      }
    );

    this.getProductionData();
    this.getConsumptionData();

    this.connection.on('ProductionData', (data) => {
      data.forEach((energyPackage) => {
        console.log(energyPackage);
        this.productionData.x.push(energyPackage.date);
        this.productionData.y.push(energyPackage.actual);

        productionChart.update();
      });
    });

    this.connection.on('ConsumptionData', (data) => {
      data.forEach((energyPackage) => {
        console.log(energyPackage);
        this.consumptionData.x.push(energyPackage.date);
        this.consumptionData.y.push(energyPackage.actual);

        consumptionChart.update();
      });
    });
  },
};
</script>
