<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" ref="form">
            <input
              formClasses="input-group-alternative mb-3"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              v-model="email"
            />

            <input
              formClasses="input-group-alternative mb-3"
              placeholder="Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="password"
            />
            <base-checkbox
              class="custom-control-alternative"
              v-model="rememberLogin"
            >
              <span class="text-muted">Remember me</span>
            </base-checkbox>

            <div class="row mt-3">
              <div class="col-6 text-center">
                <base-button type="primary" class="my-4" @click="submit"
                  >Submit</base-button
                >
              </div>
              <div class="col-6 text-center">
                <base-button type="primary" class="my-4" @click="checkUserinfo"
                  >Userinfo</base-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light"
            ><small>Create new account</small></router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { axiosAPI } from '@/config/AxiosConfig';
import querystring from 'querystring';
import { decode } from 'punycode';
import router from '@/router';
// import { required } from "vuelidate/lib/validators";
var jwt = require('jsonwebtoken');

export default {
  name: 'login',
  data() {
    return {
      email: '',
      password: '',
      rememberLogin: false,
    };
  },
  methods: {
    submit: async function () {
      var auth = false;
      await axiosAPI
        .post('/api/auth/signin', {
          email: this.email,
          password: this.password,
          rememberLogin: this.rememberLogin,
        })
        .then((auth = true));

      if (!auth) return null;

      axiosAPI
        .post(
          '/connect/token',
          querystring.stringify({
            username: this.email,
            password: this.password,
            grant_type: 'password',
            client_id: 'ro.vue',
            client_secret: 'power4allsecret',
          }),
          {
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          }
        )
        .then((response) => {
          localStorage.removeItem('jwt_token');
          let token = response.data.access_token;
          localStorage.jwt_token = token;
          let decoded = jwt.decode(token);
          if (decoded.role === 'Basic_User') {
            router.push({ name: 'dashboard' });
          } else if (decoded.role === 'Power4All_User') {
            router.push({ name: 'ProducerDashboard' });
          } else {
            console.log('Something went wrong contact an administrator');
          }
        });
    },
    checkUserinfo: async function () {
      axiosAPI
        .get('/connect/userinfo')
        .then((response) => alert(JSON.stringify(response.data)));
    },
  },
  // validations: {
  //   email: {
  //     required,
  //   },
  //   password: {
  //     required,
  //   },
  // },
};
</script>
<style scoped>
input {
  font-size: 14px;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: 6px;
}

input:focus {
  outline: none;
}
</style>
