<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" ref="form">
            <input
              formClasses="input-group-alternative mb-3"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              v-model="email"
            />

            <input
              formClasses="input-group-alternative mb-3"
              placeholder="Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="password"
            />
            <input
              formClasses="input-group-alternative mb-3"
              placeholder="PasswordConfirm"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="passwordConfirm"
            />
            <div class="row mt-3">
              <div class="col-12 text-center">
                <base-button type="primary" class="my-4" @click="submit"
                  >Register</base-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <router-link to="/login" class="text-light"
            ><small>Sign in</small></router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { axiosAPI } from '@/config/AxiosConfig';
// import { required } from "vuelidate/lib/validators";

export default {
  name: 'register',
  data() {
    return {
      email: '',
      password: '',
      passwordConfirm: '',
    };
  },
  methods: {
    submit: async function () {
      axiosAPI
        .post('/api/auth/register', {
          email: this.email,
          password: this.password,
          confirmPassword: this.passwordConfirm,
        })
        .then((response) => {
          if (response.status == 409) alert('account already exists');
          else {
            console.log(response);
            this.$router.push("/login");
          }
        });
    },
  },
  // validations: {
  //   email: {
  //     required,
  //   },
  //   password: {
  //     required,
  //   },
  // },
};
</script>
<style scoped>
input {
  font-size: 14px;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: 6px;
}

input:focus {
  outline: none;
}
</style>
