<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pt-5 pt-md-8">
      <div class="row">
        <div
          v-for="page in pages"
          :key="page"
          :class="`col-${(12 / pages.length).toFixed(0)}`"
        >
          <stats-card
            v-on:click="change(page.link)"
            :title="page.title"
            :type="page.type"
            :sub-title="page.subTitle"
            :icon="page.icon"
            class="page mb-2 mb-xl-0"
          >
          </stats-card>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--5">
      <div class="row">
        <div class="col-12">
          <component :is="activePage" v-on:setSubtitle="setCard($event)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as pages from "./pages";

export default {
  props: {
    page: {
      type: String,
      required: true,
    },
  },
  components: {
    ...pages,
  },
  data() {
    return {
      pages: [
        {
          link: "buyEnergy",
          title: "Buy Energy",
          subTitle: "Offers",
          type: "gradient-red",
          icon: "ni ni-shop",
        },
        {
          link: "sellEnergy",
          title: "Sell Energy",
          subTitle: "Offers",
          type: "gradient-red",
          icon: "ni ni-money-coins",
        },
        {
          link: "sales",
          title: "Sales",
          type: "gradient-red",
          icon: "ni ni-books",
        },
      ],
      // query prop undefined
      activePage: this.page || this.$route.query.page || 'buyEnergy',
    };
  },
  methods: {
    change(page) {
      this.$router.push({ name: "EnergyMarket", query: { page: page } });
    },
    setCard({id, title}) {
      //can't find with filter
      let page = this.pages[id];
      page.subTitle = title;
      page.type = 'gradient-success';
    },
  },
  watch: {
    "$route.query.page"(newPage) {
      this.activePage = newPage;
    },
  },
};
</script>

<style scoped>
.page {
  cursor: pointer;
}
.page:hover {
  box-shadow: 2px 3px 5px 1px #333;
}
</style>