<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      short-title="Argon"
      title="Argon"
    >
      <template v-slot:links>
        <!--        <sidebar-item-->
        <!--          :link="{-->
        <!--            name: 'Dashboard',-->
        <!--            icon: 'ni ni-tv-2 text-primary',-->
        <!--            path: '/dashboard',-->
        <!--          }"-->
        <!--        />-->
        <!--        <sidebar-item-->
        <!--          :link="{-->
        <!--            name: 'Dashboard',-->
        <!--            icon: 'ni ni-tv-2 text-primary',-->
        <!--            path: '/dashboard',-->
        <!--          }"-->
        <!--        />-->
        <sidebar-item
          :link="{
            name: 'Consumer Dashboard',
            icon: 'ni ni-tv-2 text-primary',
            path: '/consumer-dashboard',
          }"
        />
        <!--        <sidebar-item-->
        <!--          :link="{-->
        <!--            name: 'Producer Dashboard',-->
        <!--            icon: 'ni ni-tv-2 text-primary',-->
        <!--            path: '/producer-dashboard',-->
        <!--          }"-->
        <!--        />-->
        <sidebar-item
          :link="{
            name: 'Netbeheerder Dashboard',
            icon: 'ni ni-tv-2 text-primary',
            path: '/netbeheerder',
          }"
        />
        <sidebar-item
          :link="{
            name: 'Producers',
            icon: 'ni ni-tv-2 text-primary',
            path: '/producers',
          }"
        />
        <!--        <sidebar-item-->
        <!--          :link="{-->
        <!--            name: 'User Profile',-->
        <!--            icon: 'ni ni-single-02 text-yellow',-->
        <!--            path: '/profile',-->
        <!--          }"-->
        <!--        />-->
        <!--        <sidebar-item-->
        <!--          :link="{-->
        <!--            name: 'User Profile',-->
        <!--            icon: 'ni ni-single-02 text-yellow',-->
        <!--            path: '/profile',-->
        <!--          }"-->
        <!--        />-->
        <!-- <sidebar-item
          :link="{
            name: 'Login',
            icon: 'ni ni-key-25 text-info',
            path: '/login',
          }"
        />
        <sidebar-item
          :link="{
            name: 'Register',
            icon: 'ni ni-circle-08 text-pink',
            path: '/register',
          }"
        /> -->
        <sidebar-item
          :link="{
            name: 'Prediction Service',
            icon: 'fa fa-chart-line text-success',
            path: '/predict',
          }"
        />
        <sidebar-item
          :link="{
            name: 'Energy Market',
            icon: 'ni ni-shop text-warning',
            path: '/energy_market',
          }"
        />
        <sidebar-item
          :link="{
            name: 'My profile',
            icon: 'ni ni-circle-08 text-info',
            path: '/profile',
          }"
        />
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <!-- your content here -->
        <router-view></router-view>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
  </div>
</template>
<script>
import DashboardNavbar from "./DashboardNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import SidebarItem from "@/components/SidebarPlugin/SidebarItem";

export default {
  components: {
    SidebarItem,
    DashboardNavbar,
    ContentFooter,
  },
  data() {
    return {
      sidebarBackground: "vue", //vue|blue|orange|green|red|primary
    };
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
  },
};
</script>
<style lang="scss"></style>
